.watchNow{
    display: flex;
}
.animeContainer{
    /* margin: 15px;
    padding: 5px; */
    width: 90%;
    margin-left: 1%;
    margin-top: 3.8%;
    /* border: 1px solid white; */
    
}
.videoPlayer{
    width: 80%;
}
.currentTitle{
    padding: 20px;
    text-align: start;
}
