.App {
  text-align: center;
  background-color: rgba(15, 14, 14, 0.966);
  /* background: url("https://c4.wallpaperflare.com/wallpaper/966/951/802/digital-digital-art-artwork-illustration-fantasy-art-hd-wallpaper-preview.jpg") cover center no-repeat; */
  color: aliceblue;
}
a{
  text-decoration: none;
  color: wheat;
}

